ForeignAid.zip
US_Foreign_Aid_00s.csv
US_Foreign_Aid_10s.csv
US_Foreign_Aid_40s.csv
US_Foreign_Aid_50s.csv
US_Foreign_Aid_60s.csv
US_Foreign_Aid_70s.csv
US_Foreign_Aid_80s.csv
US_Foreign_Aid_90s.csv
presidents.xlsx
